[k3sm1]
192.168.200.1    ansible_connection=ssh  ansible_user=skynet

[k3sm2]
192.168.200.2    ansible_connection=ssh  ansible_user=skynet

[k3sm3]
192.168.200.3    ansible_connection=ssh  ansible_user=skynet

[k3sm]
k3sm1
k3sm2
k3sm3
