---
# DEFINE THE NUMBER OF VMS TO RUN
masters_vms: 3
workers_vms: 0

k3s_cluster_secret: Yourk3sClusterSecret
securepass: YourConsulSecurePasswd==
net_interface: eth1

# CPU
cpus: 1

# MEMORY
memory: 512

# KEYMAP
keymap: en-us

# VAGRANT BOX
# Ubuntu: bento/ubuntu-16.04 or ubuntu/trusty64 or ubuntu/wily64
vagrant_box: bento/ubuntu-16.04

# Debug mode, runs Ansible with -vvvv
debug: false